@media screen and (min-width:0px) and (max-width:780px){
	body
    {
	    background-color:black;
	    background-repeat: no-repeat;
	    color: white;
        font-size: 30px;
    }
	.center{
		text-align: center;
	}
	.size{
        height: 60px;
        font-weight: 60px;
        font-size: 30px;
    }
}
@media screen and (min-width:781px) and (max-width:1024px){
	body
    {
	    background-color:black;
	    background-repeat: no-repeat;
	    color: white;
        font-size: 45px;
    }
	.center{
		text-align: center;
	}
	.size{
        height: 60px;
        font-weight: 60px;
        font-size: 30px;
    }
}
@media screen and (min-width:1025px) and (max-width:3840px){
    body
    {
	    background-color:black;
	    background-repeat: no-repeat;
	    color: white;
        font-size: 60px;
    }
    .size{
        height: 60px;
        font-weight: 60px;
        font-size: 30px;
    }
    .heading{
        font-size: 200px;
    }
    .wellcome{
        font-size: 70px;
    }
    .center{
		text-align: center;
	}
	.none_border{
			border: none;
	}
	.margin{
			margin:10px;
	}
	button{
		    border-radius: 10px;
	}
	.back{
			background-color: black;
	}
	.flex{
		display: flex;
	}
	.font40{
		font-size: 40px;
	}
	.logo{
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
	.bground select,option:hover{
		background-color: cyan;
	}
}
.form-options{
	/* border:2px solid white; */
		margin-top:250px;
	height:500px;
		margin-bottom:150px
	}
	
	.income-exp{
		position:relative;
		left:-200px;
		background-color:#badfe8;
		height:100px;
		width:300px;
		text-align:center;
		font-size:4rem;
		font-weight:700;
		border-radius:30px;
		
	}

	.inp-amount{

		background-color:#badfe8;
		height:100px;
		width:600px;
		text-align:center;
		font-size:4rem;
		font-weight:700;
		border-radius:30px;
		color:#000000;
		position:relative;
		left:200px;
		
	}

	.note{
	background-color:#badfe8;
	
		height:100px;
		width:80%;
		text-align:center;
		font-size:4rem;
		font-weight:700;
		border-radius:30px;
	

	}


	
	.btn{
	

		
		background-color:#badfe8;
		height:100px;
		width:300px;
		text-align:center;
		font-size:4rem;
		font-weight:700;
		border-radius:30px;
	}
